body {
  /* margin: 0;
  padding: 0; 
  width: 100%; */
  overflow-x: hidden;
}

.login-buttons {
  display: flex;
  gap: 50px;
}

.student-section,
.it-section {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.main-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.home-title {
  color: #1e1e1e;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.login-container {
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin-top: 2rem;
}

.student-section,
.it-section {
  background-color: #f8f8f8;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 200px;
}

.student-login-button,
.it-login-button {
  padding: 15px 15px;
  margin: 10px 0;
  background-color: #e30c00;
  border: 1px solid #cccc;
}

.student-login-button:hover,
.it-login-button:hover {
  background-color: #a80c04;
}

.student-register-button,
.it-register-button {
  padding: 15px 15px;
  background-color: #fff;
  border: 2px solid #e30c00;
}

.student-register-button:hover,
.it-register-button:hover {
  background-color: #d8d4d4;
}

.student-login-button a,
.it-login-button a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.student-register-button a,
.it-register-button a {
  color: #e30c00;
}
