.student-home {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.student-button {
  padding: 10px 30px;
  margin: 10px 10px;
  border: 1px solid #cccc;
  border-radius: 10px;
  font-size: 20px;
  width: 300px;
}

.student-button:hover {
  background-color: #d8d4d4;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.student-link {
  text-decoration: none;
  color: purple;
}

.student-link:hover {
  text-decoration: underline;
}
