.App {
  height: 100vh;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: 0;
}

.ucalgary-container {
  min-height: 100vh;
  background-color: #fff;
  padding: 0;
  width: 100%;
}

.header {
  background-color: #e30c00;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ucalgary-logo {
  height: 100px;
}

/* .login-buttons {
  display: flex;
  gap: 50px;
}

.student-section,
.it-section,
.student-home {
  display: flex;
  flex-direction: column;
  gap: 5px;
} */
/* 
button {
  padding: 10px 15px;
  border: 1px solid #ccc;
  background-color: white;
  color: purple;
  cursor: pointer;
} */

/*button:hover {
  background-color: #f0f0f0;
}

.login-page {
  margin: 10px;
  gap: 10px;
  display: flex;
}

.form-group {
  margin: 10px;
}

.error-message {
  color: rgb(181, 20, 20);
}

.courses {
  display: flex;
  flex: 1;
  gap: 10px;
}

.course {
  border: 1px solid black;
  flex: 1;
}

.delete {
  padding: 3px 6px;
  background-color: whitesmoke;
  cursor: pointer;
  border: 1px solid rgb(14, 13, 13);
  color: rgb(231, 52, 52);
}

.update {
  padding: 3px 6px;
  background-color: whitesmoke;
  cursor: pointer;
  border: 1px solid rgb(14, 13, 13);
  color: rgb(26, 124, 215);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input {
  width: 250px;
  padding: 10px;
  border: 1px solid gray;
}

.formButton {
  border: none;
  padding: 10px;
  background-color: rgb(214, 123, 90);
  color: white;
  font-weight: bold;
  cursor: pointer;
} */
